@media (min-width: 768px) {

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list .member-card {
    display: flex;
    gap: 1rem;
    padding: 15px;
  }

  main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  grid-column: span 2;
}

  .grid .member-card img {
    display: block;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  .join-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

}