@media (min-width:768px){

#menu{
display:none;
}

.navigation{
display:flex;
gap:20px;
}

.navigation li{
border:none;
}

.home-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.home-grid .card:last-child{
grid-column:span 2;
}

#courses{
grid-template-columns:repeat(3,1fr);
}

}